<div class="home">
  <div class="search-panel row">
    <div class="col-md-offset-2 col-md-8">
      <p class="number-of-investigations">Over 2 million corporate documents</p>
      <div class="search-area">
        <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
          <div class="input-group input-group-lg">
            <input type="text"
            class="form-control"
            autofocus
            ng-model="query.q"
            placeholder="Search for person, companies, projects or other entities" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="material-icons">search</i></button>
            </span>
          </div>
        </form>
      </div>
      <div class="new-documents">
        <div class="new-documents__title">New documents today</div>
        <div class="new-documents__body">Canadian Corporate, Filling US (EDGAR), Australian Stock Exchange</div>
      </div>
    </div>
  </div>
  <div class="row presentation-panel">
    <div class="col-md-2 intro">
      Aleph is a fully text searchable search engine of corporate filing sources.
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="row features">
        <div class="col-md-6 feature">
          <div class="feature__title">Email alerts</div>
          <p>Sign in to add email alerts on terms that may pop up in new results</p>
          <a href="#">learn more</a>
        </div>
        <div class="col-md-6 feature">
          <div class="feature__title">Ask for an expert</div>
          <p>For more information on the search tool or help to refine your searches contact us</p>
          <a href="mailto:aleph@openoil.net">aleph@openoil.net</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 suggestions">
      <div class="suggestions__title">Suggested searches</div>
      <a ng-repeat="suggestion in suggestions" ng-href="{{ suggestion.href }}" ng-bind="suggestion.label"></a>
    </div>
  </div>
</div>
