<div class="row search-bar">
  <div class="col-md-8">
    <search-box></search-box>
    <div class="row">
      <div class="col-md-8">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <a class="dropdown-toggle"
              uib-dropdown-toggle>
              <i class="material-icons">sort</i>
              Explore by
              <!-- span class="caret"></span -->
            </a>
            <ul class="uib-dropdown-menu" role="menu">
              <li ng-repeat="(field, label) in metadata.fields" ng-show="showFieldFacet(field)">
                <a ng-click="query.toggleFilter('facet', field)" ng-bind="label"></a>
              </li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <a href="/#/search">
              <i class="material-icons">close</i>
              Clear search
            </a>
          </div>
          <div class="btn-group">
            <a ng-click="toggleAlert()"
              ng-disabled="!canCreateAlert()">
              <i class="material-icons">notifications</i>
              <span ng-show="hasAlert()">
                Disable alert
              </span>
              <span ng-hide="hasAlert()">
                Set alert
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-danger" role="alert" ng-if="error">
          <strong>An error occurred while running your search.</strong>
          {{error.info.reason || error.message}}
        </div>
        <div>
          <div ng-repeat="doc in result.results">
            <search-result doc="doc" result="result"></search-result>
          </div>
          <div class="bottom-pager">
            <div class="pull-right">
              <response-pager response="result" load="loadOffset(offset)"></response-pager>
            </div>
            <div class="total" ng-if="result.limit > 0 && !result.total">
              No results were found.
            </div>
            <div class="total" ng-if="result.limit > 0 && result.total">
              {{result.total | number}} documents found
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      Document sources
    </div>
    <p>{{result.sources.values.length | number}} document sources are included in
    searches at the moment. Please feel free to contact us with any other suggested document
    and data sets.</p>
    <div ng-repeat="(category, lst) in sources | orderBy:category">
      <div class="heading">
        <strong>{{category | sourceCategory}}</strong>
      </div>
      <div class="row">
        <div class="col-md-6 source" ng-repeat="source in lst">
          <a href="#/search?filter:source_id={{source.id}}" class="mainlink">{{source.label}}</a>
          <span class="count">{{source.count | number}}</span>
          <a ng-click="editSource(source, $event)" ng-show="canEditSource(source)">
            <i class="fa fa-cog"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Document sources</strong> <small>{{sourceFacets.length}}</small>
      </div>
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="source in sourceFacets"
          ng-class="{'active': query.hasFilter('filter:source_id', source.id)}"
          ng-click="query.toggleFilter('filter:source_id', source.id)">
          <span class="badge">{{source.count | number}}</span>
          <span class="lbl">
            {{source.label}}
            <a ng-click="editSource(source, $event)" ng-show="canEditSource(source)">
              <i class="fa fa-cog"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div> -->
</div>
