<div search-frame result="result">

  <div infinite-scroll="loadMore()" infinite-scroll-disabled="!hasMore()"
    infinite-scroll-distance="3">
    <div class="result animate toggle" ng-repeat="doc in result.results track by $index">
      <a ng-href="" target="_self"
         tooltip="Loaded on {{doc.updated_at.split('T')[0]}}"
         tooltip-append-to-body="true"
         tooltip-placement="right" class="source">
        {{queryContext.sources[doc.collection].label || doc.collection}}
      </a>
      <a ng-href="{{doc.redirect_url}}" class="title">
        {{doc.title | characters: 90 }}
      </a>
      <span class="archive">
        [<a ng-href="{{doc.archive_url}}" target="_self">cached</a>]
      </span>
      <!--<span class="summary">{{doc.summary}}</span>-->
      <br/><span class="extracts">
		<span ng-bind-html-unsafe="unsafehtml"></span>

	<span ng-repeat="(resultfield, values) in doc.highlight track by $index">
	  <span ng-repeat="textbit in doc.highlight[resultfield] track by $index">
	    <div ng-bind-html="textbit" class="resultsnippet"></div>
	  </span>
	</span>

      <table class="attribute-table">
	<tr ng-repeat="attrib in doc.attribs_to_show track by $index">
	    <td>{{attrib[0]}}</td><td>{{attrib[1]}}</td>
	</tr>
      </table>

      <span class="aleph-attribute-table"/>
      <span class="abc" ng-bing-html="processAttributes(doc.attributes)"/>
    </div>
  </div>

</div>
