.aleph--home #page {
    // header
    .navbar.navbar-default {
        background-color: transparent;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        color: white;
        a { color: white;}
        .navbar-header {
            .navbar-brand {
                padding-left: 120px;
                font-size: 1.2em;
                &:before {
                  height: 54px;
                  left: 40px;
                  top: 20px;
                  background-size: auto 100%;
                  background-image: url('../images/OO_logoLanding_white.png');
              }
            }
            .navbar-description {
                display: block;
                clear: both;
                top: -7px;
                left: 105px;
                margin: 0;
                padding: 0;
                position: relative;
                color: white;
            }
        }
    }
    .search-panel {
        background-image: url('../images/earth.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 -15px; // remove page margin from bootstrap
        padding: 230px 20px 20px 20px; // leave the place for the absolute header
        color: white;
        .search-area {
            input, button {
                box-shadow: none;
                border-color: white;
            }
            button {color: $brand-primary}
        }
        .number-of-investigations {
            font-weight: bold;
            font-style: italic;
            font-size: 1.4em;
            text-align: center;
            font-family: $font-family-serif;
        }
        .new-documents {
            text-align: center;
            margin: 20px 0;
            .new-documents__body {
                font-weight: bold;
            }
        }
    }
    .presentation-panel {
        a {
            text-decoration: underline;
            font-style: italic;
        }
        margin-top: 20px;
        .intro, .suggestions, .feature {
            padding-left: 25px;
            margin-right: -25px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .intro {
            color: $brand-primary;
            font-weight: bold;
            font-size: 1.2em;
        }
        .feature__title {font-weight: bold;}
        .suggestions {
            background-color: white;
            .suggestions__title {margin-bottom: 10px;}
            a {
              margin-right: 10px;
              font-style: normal;
              font-weight: bold;
              text-decoration: none;
              color: $brand-primary;
              &:hover {
                text-decoration: underline;
              }
            }
        }
    }
}
