@import "colors";

// Style tiles, Colours
$border-color: #d7d7d7;
$boxed-color: #fafafa;
$default-radius: 0;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$color-person: $col-2;
$color-company: $col-7;
$color-organization: $col-10;
$color-other: $col-20;

// override bootstrap defaults
$brand-primary: #0049e6;
// $brand-success: $occrp-green;
$text-color: #333;
$text-muted: #999;
$gray-subtle: #f0f0f0;
$page-bg: #f2f2f2;
$spacing: 0.5em;

// Style tiles, Fonts
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-serif: 'PT Serif', serif;

$input-border-focus: $brand-primary;
$border-radius-base: 0;
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #e6e6e6;
    /*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

#page {
  background-color: $page-bg;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    .partners img {
      padding-right: 10px;
    }
    .licence {font-size: .9em;}
    .social i {
      background-color: $text-color;
      color: #e6e6e6;
      border-radius: 30px;
      padding: 10px;
      font-size: 1.5em;
      margin-left: 10px;
    }
}

@import "common";
@import "loadingbar";
@import "nav";
@import "home";
@import "search";
@import "tabular";
@import "text";
@import "spinner";
@import "entities";

.navbar.navbar-default {
    background-color: $page-bg;
    border-bottom: 0;
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.7em;
    color: text-muted;
}

.list-group-item.active .badge {
    background-color: $brand-primary;
    color: $page-bg;
}

.modal-table {
    .active-switch {
        padding-left: 1.5em;
    }

    .table {
        .first-row td {
            border-top: none;
        }
    }
}

.modal-scroll {
    max-height: 30em;
    overflow-y: scroll;
    @extend .modal-table;
}
